.idea
.mypy_cache
.vscode
.DS_Store
twitter-datasets/*.txt
twitter-datasets/*.csv
twitter-datasets/*.pkl
glove.6B.50d.txt


*.pkl

bert/dataset_full_cache
bert/dataset_cache

__pycache__
.DS_Store
bert/dataset_nostopwords_cache
bert/dataset_noemoji_cache
bert/dataset_nopunctuation_cache
bert/bert_mini_3_epoch_full_results.csv
